@{
    ViewBag.Title = "Home Page";
}

@section Scripts {
    <script src="~/scripts/pedido.js"></script>
}

<div ng-controller="pedidoController">


    <br />

    <table>
        <tr>
            <td>Nome</td>
            <td>Preço</td>
        </tr>
        <tr ng-repeat="item in pedido.Itens">
            <td><input type="text" ng-model="item.Nome" /></td>
            <td><input type="text" ng-model="item.Preco" /></td>
        </tr>
    </table>

    <br />

    <input type="text" ng-model="DataPedidoFormatada" />

    <br />

    <button ng-click="Salvar();">Salvar</button>
</div>