<!DOCTYPE html>
<html ng-app="AppTeste">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
 
    <script src="~/lib/jquery/js/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/angularjs/angular.min.js"></script>
    <script src="~/scripts/Utilitarios.js"></script>

    @RenderSection("scripts", required: false)
</head>

<body>
    @RenderBody()
</body>

</html>